div
    p gracias por registrarse al evento, le mandamos su ticket por este medio
    p con el siguiente codigo QR puede entrar el dia del evento, solo muestre este correo y listo
    br
div(id="qr")
br
p #{codigo}
    
