doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/bundle.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    script(src="/dist/bundle.js")
    //- script(src = "/javascripts/actions-page.js")
  body
    block content
